@import "./Utils/variables";
@import "./Base/mixin";
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    @include police_texte;

}

footer h3{
   @include police_logo
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
  }
  
  ul{
    list-style: none;
    padding: 0;
  }
  

            /*header*/
        
header{
  @include header
}
 

/* localisation */
.localisation{
    display: flex;
align-items: center;
justify-content: center;
background-color: #f0f0f0;
width: 100%;
padding: 15px;
i{
    position: relative;
    right: 13px;
}
p{
    font-size: 20px;
}
}

/*nav*/
nav{
background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    padding-top: 40px;
}