@mixin police_texte {
font-family: "roboto", sans-serif;
}
 
@mixin police_logo_titre {
    font-family: "Shrikhand",sans-serif;
}

@mixin header {
    width: 100%;
    height: 60px;
    display:flex ;
    justify-content: center;
    align-items: center;
.logo_header{
    height: 30px;   
}
img.logo{
height: 100%;
}
    
}

